# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =====================
# Bases de datos
# =====================
*.db
*.sqlite3

# =====================
# Archivos temporales
# =====================
*.log
~$*.xlsx

# =====================
# Node / React
# =====================
node_modules/
dist/

# =====================
# Vite
# =====================
.vite/

# =====================
# Sistema Operativo
# =====================
.DS_Store

# Visual Studio
.vs/
